:host {
    section {
        height: 309px;
        background-image: url(../../../assets/images/page-title-container.png);
        background-size: cover;
        background-position: center;
    }

    .page-title {
        font-size: 71px;
        letter-spacing: 3.55px;
    }
}