<section class="pt-16 pb-16 pl-140 pr-140">
    <div class="flex-row">
        <div class="flex-60">
            <h4 class="poppins-text no-margin">© 2023 ISLAMIC FINANCIAL SERVICES BOARD . All Rights Reseved.</h4>
        </div>
        <div class="flex-40">
            <div class="flex-row flex-space-between">
                <h4 class="poppins-text no-margin">Terms Of Service</h4>
                <h4 class="poppins-text no-margin">Service Policy</h4>
                <h4 class="poppins-text no-margin">Cookie Policy</h4>
                <h4 class="poppins-text no-margin">Partners</h4>
            </div>
        </div>
    </div>
</section>
