:host {
    .about-psifis {
        color: #283887;
    }

    .timeline-section {
        padding-top: 50px;
        height: 465px;
        background-image: url('../../../assets/images/timeline-background.png');
        background-size: cover;
        background-position: center;
    }

    .key-strategic-focus-areas {
        color: #283887;
    }
}