:host {
    mat-card {
        border-radius: 0;
    }

    mat-card-content {
        padding: 0 30px 30px 30px;
    }

    .section-title {
        color: #283887;
    }

    .timeline-section {
        padding-top: 50px;
        height: 465px;
        background-image: url('../../../assets/images/timeline-background.png');
        background-size: cover;
        background-position: center;
    }

    .governing-documents-section {
        background-image: url('../../../assets/images/governing-documents-background.jpg');
        background-size: cover;
        background-position: center;
    }

    .cards {
        padding-left: 50px;
    }

    .card-details-text {
        font-size: 18px;
    }

    .calendar-icon {
        color: #EBB437;
    }
}