:host {
    section {
        padding-top: 133px; /* Adjust the value to match the height of your fixed element */
    }

    mat-card {
        border-radius: 0;
    }

    mat-card-content {
        padding: 0 30px 30px 30px;
    }

    .sticky-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .image-container {
        position: relative;
    }

    .hq-image-caption {
        position: absolute;
        bottom: -8%;
        right: 23%;
        background-color: #ffffff;
        padding-top: 19px;
        padding-bottom: 20px;
        padding-right: 23px;
        padding-left: 27px;
        box-shadow: 0px 5px 15px #5A8AE31C;
    }

    .section-title {
        color: #283887;
    }

    .section-subtitle {
        color: #202B3B;
    }

    .timeline-section {
        padding-top: 50px;
        height: 465px;
        background-image: url('../../../assets/images/timeline-background.png');
        background-size: cover;
        background-position: center;
    }

    .governing-documents-section {
        background-image: url('../../../assets/images/governing-documents-background.jpg');
        background-size: cover;
        background-position: center;
    }

    .cards {
        padding-left: 50px;
    }

    .card-details-text {
        font-size: 18px;
    }

    .calendar-icon {
        color: #EBB437;
    }

    .period-of-tenure {
        background-color: #283887;
        padding: 8px 16px;
    }

    .secretary-image-container {
        position: relative;
    }

    .scretary-image-caption {
        position: absolute;
        bottom: -8%;
        background-color: #ffffff;
        padding: 23px 41px;
        box-shadow: 0px 5px 15px #5A8AE31C;
    }

    .newsletter-container {
        position: relative;
    }
    
    .scroll-up-button {
        position: absolute;
        bottom: -10%;
        right: 5%;
    }

    .scroll-up-button:hover {
        cursor: pointer;
    }
}