<section>
    <div class="sticky-header">
        <app-page-header></app-page-header>
        <app-page-tabs></app-page-tabs>
    </div>
    <app-page-title-container [pageTitle]="pageTitle"></app-page-title-container>

    <div class="pt-70 pb-70 pl-140 pr-140">
        <div class="flex-row gap-16 pb-25">
            <img src="assets/images/Group 247.svg">
            <h1 class="poppins-text bold-600 no-margin section-title fs-26 ls-1-3">About PSIFIs</h1>
        </div>
        <div class="flex-row flex-space-between">
            <div class="flex-40 flex-column gap-25">
                <h1 class="poppins-text bold-700 no-margin ls-1-3 section-subtitle fs-26">A Credible and Accurate Islamic Finance Database</h1>
                <h4 class="poppins-text no-margin ls-0-77">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h4>
                <div class="image-container">
                    <img src="assets/images/about psifis.png">
                    <div class="flex-row">
                        <div class="hq-image-caption">
                            <h3 class="poppins-text no-margin ls-0-77 bold-700">IFSB HQ KUALA LUMPUR, MALAYSIA</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-column gap-25 flex-50 pl-140">
                <mat-tab-group mat-stretch-tabs="false">
                    <ng-container *ngFor="let tab of aboutTabs">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <h4 class="poppins-text no-margin bold">{{ tab }}</h4>
                            </ng-template>
                        </mat-tab>
                    </ng-container>
                </mat-tab-group>
                <h4 class="poppins-text no-margin ls-0-77">The mission of the IFSB is to promote the stability and resilience of the Islamic financial services industry. The IFSB seeks to achieve its mission through the issuance, and facilitating the implementation, of global and prudential and supervisory standards and other initiatives that foster knowledge sharing and cooperation.</h4>
                <h4 class="poppins-text no-margin ls-0-77">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At</h4>
            </div>
        </div>
    </div>

    <div class="timeline-section pl-140 pr-140">
        <div class="flex-row gap-16 pb-8">
            <img src="assets/images/Group 247.svg">
            <h1 class="poppins-text bold-500 no-margin white-text ls-1-3 fs-26">Timeline</h1>
        </div>
        <div class="flex-column gap-16">
            <h1 class="poppins-text bold-700 no-margin white-text ls-1-3 fs-26">Lorem ipsum dolor sit amet, consetetur sadipscing</h1>
            <h4 class="poppins-text no-margin white-text bold-300 ls-0-77">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</h4>
        </div>
    </div>

    <div class="pt-70 pb-70 pl-140 pr-140">
        <div class="flex-row flex-center gap-16">
            <img src="assets/images/Group 247.svg">
            <h1 class="poppins-text bold-600 no-margin ls-1-3 section-title fs-26">Key Strategic Focus Areas</h1>
            <img src="assets/images/Group 247.svg" style="transform: rotate(180deg);">
        </div>
        <div class="flex-row flex-center pt-8 pb-32">
            <div class="flex-80">
                <h4 class="poppins-text no-margin align-text-center ls-0-77">The strategic focus areas of the former SPP, which was aligned with the vision, mission and core values of the IFSB, is illustrated below. The EC in its meetings, resolved for the Secretariat to maintain the below framework for the new SPP 2022-2024, but with greater emphasis on the quality of outputs and greater focus on member engagement as well as outcome measurement and reporting.</h4>
            </div>
        </div>
        <div class="flex-center pt-16">
            <img src="assets/images/key-strategic.svg">
        </div>
    </div>

    <div class="governing-documents-section pt-70 pb-70 pl-140 pr-140">
        <div class="flex-row gap-16 pb-8">
            <img src="assets/images/Group 247.svg">
            <h1 class="poppins-text bold-600 no-margin section-title ls-1-3 fs-26">Governing Documents</h1>
        </div>
        <div class="pb-32">
            <h4 class="poppins-text no-margin ls-0-77">The functions and activities of the IFSB are governed by four Main Documents.</h4>
        </div>
        <div class="flex-row gap-46 cards">
            <mat-card>
                <img mat-card-image src="assets/images/card-1.png">
                <mat-card-content>
                    <div class="pt-16 pb-16">
                        <h4 class="poppins-text no-margin ls-0-77">Document</h4>
                    </div>
                    <div style="height: 118px;">
                        <h3 class="poppins-text no-margin ls-0-77 bold-600 card-details-text">Articles of Agreement</h3>
                    </div>
                    <div class="flex-row gap-8">
                        <mat-icon class="calendar-icon">calendar_today</mat-icon>
                        <h4 class="poppins-text no-margin ls-0-77">November 2018</h4>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <img mat-card-image src="assets/images/card-2.png">
                <mat-card-content>
                    <div class="pt-16 pb-16">
                        <h4 class="poppins-text no-margin ls-0-77">Document</h4>
                    </div>
                    <div style="height: 118px;">
                        <h3 class="poppins-text no-margin ls-0-77 bold-600 card-details-text">IFSB</h3>
                        <h3 class="poppins-text no-margin ls-0-77 bold-600 card-details-text">Act 2002</h3>
                    </div>
                    <div class="flex-row gap-8">
                        <mat-icon class="calendar-icon">calendar_today</mat-icon>
                        <h4 class="poppins-text no-margin ls-0-77">September 2002</h4>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <img mat-card-image src="assets/images/card-3.png">
                <mat-card-content>
                    <div class="pt-16 pb-16">
                        <h4 class="poppins-text no-margin ls-0-77">Document</h4>
                    </div>
                    <div style="height: 118px;">
                        <h3 class="poppins-text no-margin ls-0-77 bold-600 card-details-text">IFSB</h3>
                        <h3 class="poppins-text no-margin ls-0-77 bold-600 card-details-text">By-Laws</h3>
                    </div>
                    <div class="flex-row gap-8">
                        <mat-icon class="calendar-icon">calendar_today</mat-icon>
                        <h4 class="poppins-text no-margin ls-0-77">November 2018</h4>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <img mat-card-image src="assets/images/card-4.png">
                <mat-card-content>
                    <div class="pt-16 pb-16">
                        <h4 class="poppins-text no-margin ls-0-77">Document</h4>
                    </div>
                    <div style="height: 118px;">
                        <h3 class="poppins-text no-margin ls-0-77 bold-600 card-details-text">Guidelines and Procedures</h3>
                        <h3 class="poppins-text no-margin ls-0-77 bold-600 card-details-text">for the Preparation of</h3>
                        <h3 class="poppins-text no-margin ls-0-77 bold-600 card-details-text">Standards/Guidelines</h3>
                    </div>
                    <div class="flex-row gap-8">
                        <mat-icon class="calendar-icon">calendar_today</mat-icon>
                        <h4 class="poppins-text no-margin ls-0-77">September 2002</h4>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="pt-70 pb-70 pl-140 pr-140">
        <div class="flex-row">
            <div class="flex-40"></div>
            <div class="flex-60 flex-row gap-16 pb-8">
                <img src="assets/images/Group 247.svg">
                <h1 class="poppins-text bold-600 no-margin section-title ls-1-3 fs-26">Secretary General</h1>
            </div>
        </div>
        <div class="flex-row pb-32">
            <div class="flex-40">
                <img src="assets/images/bello-pic-1.png">
            </div>
            <div class="flex-60 flex-column gap-16">
                <h1 class="poppins-text bolder no-margin ls-1-3 section-subtitle fs-26">Dr. Bello Lawal Danbatta was appointed the Secretary-General of the IFSB effective 29 January 2018.</h1>
                <h4 class="poppins-text no-margin ls-0-77">Dr. Danbatta, previously the Director of the Centre of Consultancy and Executive Programmes at INCEIF, has over 26 years combined experience in the private, academia, as well as in the financial services regulation and supervision sectors across Africa, Europe, Asia and the Middle East. He is a Member of the Accounting and Auditing Board of Accounting and Auditing Organisation for Islamic Financial Institutions (AAOIFI), the Basel Consultative Group (BCG), the International Ethics Standards Board for Accountants (IESBA), the International Auditing and Assurance Standards Board (IAASB) and has chaired various working groups for the issuance of financial accounting standards for Islamic financial institutions. He has also been involved in the development and drafting of standards, guidelines and frameworks for capital adequacy, accounting, as well as supervision and regulation of Islamic finance for various countries.</h4>
                <h4 class="poppins-text no-margin ls-0-77">Dr. Danbatta holds a Ph.D. in Islamic Banking and Finance from the International Islamic University Malaysia (IIUM), and an MBA in Corporate Finance. He is a Chartered Accountant (Fellow) with the Association of Certified Chartered Accountant (ACCA-UK), a Licensed International Financial Analyst (LIFA-UK), and a member of the Chartered Institute of Islamic Finance Professionals (CIIFP), Member of Nigerian Institute of Management (NIM), Institute of Chartered Accountants of Nigeria (ICAN), and International Council for Islamic Finance Educators (ICIFE). Dr. Danbatta is a known Islamic banking and finance consultant, and has been active in providing Islamic finance training and consultancy to central banks, securities commissions, deposit insurance corporations and Islamic banks. He also has a number of publications on Islamic banking, corporate governance and earnings management.</h4>
                <h4 class="poppins-text no-margin ls-0-77">In addition to these corporate engagements, he also held the positions of Assistant Professor at Sultan Qaboos University Oman, a Research Fellow at the Accounting Research Institute (ARI) of University Technology MARA (UiTM), Malaysia and Academic Fellow at Insaniah University Malaysia. He has worked with the Highland Bank of Nigeria Plc, Peugeot Automobiles and Securities and Exchange Commission of Nigeria</h4>
            </div>
        </div>
        <div class="pt-16 pb-32">
            <h1 class="poppins-text bolder no-margin ls-1-3 section-subtitle fs-26">Former Secretary-General</h1>
        </div>
        <div class="pt-16 flex-row gap-25">
            <div class="flex-column">
                <div class="period-of-tenure" style="width: 30%;">
                    <h4 class="poppins-text no-margin ls-0-77 white-text">2018-Current</h4>
                </div>
                <div class="secretary-image-container">
                    <img src="assets/images/bello-pic-2.png">
                    <div class="flex-row flex-center">
                        <div class="scretary-image-caption flex-column flex-center">
                            <h3 class="poppins-text no-margin ls-0-77 bold-700 fs-18">Dr. Bello Lawal Danbatta</h3>
                            <p class="poppins-text no-margin ls-1-3">January 2018 - Current</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <div class="period-of-tenure" style="width: 20%;">
                    <h4 class="poppins-text no-margin ls-0-77 white-text">2011-2017</h4>
                </div>
                <div class="secretary-image-container">
                    <img src="assets/images/jaseem.png">
                    <div class="flex-row flex-center">
                        <div class="scretary-image-caption flex-column flex-center">
                            <h3 class="poppins-text no-margin ls-0-77 bold-700 fs-18">Jaseem Ahmed</h3>
                            <p class="poppins-text no-margin ls-1-3">May 2011 - April 2017</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <div class="period-of-tenure" style="width: 22%;">
                    <h4 class="poppins-text no-margin ls-0-77 white-text">2003-2011</h4>
                </div>
                <div class="secretary-image-container">
                    <img src="assets/images/rifaat.png">
                    <div class="flex-row flex-center">
                        <div class="flex-column flex-center gap-4" style="position: absolute; bottom: -8%; background-color: #FFFFFF; box-shadow: 0px 5px 15px #5A8AE31C; max-width: 314px; padding: 15px;">
                            <h3 class="poppins-text no-margin ls-0-77 bold-700 fs-18 align-text-center" style="line-height: 1;">Professor Datuk Rifaat Ahmed Abdel Karim</h3>
                            <p class="poppins-text no-margin ls-1-3">March 2003 - April 2011</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newsletter-container">
        <app-newsletter></app-newsletter>
        <div>
            <img src="assets/images/scroll-up-button.svg" class="scroll-up-button" (click)="scrollToTop()">
        </div>
    </div>
    
    <app-footer-menu></app-footer-menu>
    <app-footer></app-footer>
</section>

