:host {
    section {
        height: 85px;
    }

    .company-logo {
        margin-left: 140px;
        cursor: pointer;
    }

    .tabs {
        margin-right: 140px;
    }

    .ifsb-member-zone {
        width: 232px;
        background-color: #475A76;
    }
}