<section>
    <div class="flex-row flex-space-between full-height">
        <div class="flex-start-center company-logo">
            <img src="../../../assets/images/company-logo.png" (click)="navigateToEstablishment()">
        </div>
        <div class="tabs flex-start-center">
            <mat-tab-group fitInkBarToContent >
                <ng-container *ngFor="let tab of tabs">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <h4 class="poppins-text no-margin">{{ tab }}</h4>
                        </ng-template>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
            <div class="ifsb-member-zone full-height flex-center gap-16">
                <img src="../../../assets/images/user-rounded.svg" class="profile-logo">
                <p class="no-margin poppins-text white-text ifsb-member-zone-text">IFSB Member's zone</p>
            </div>
        </div>
    </div>
</section>