h4 {
    color: #4E4E50;
}

.poppins-text {
    font-family: "Poppins" !important;
}

.fs-26 {
    font-size: 26px !important;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.align-text-center {
    text-align: center;
}

.bold {
    font-weight: bold !important;
}

.bolder {
    font-weight: bolder !important;
}

.bold-900 {
    font-weight: 900 !important;
}

.bold-800 {
    font-weight: 800 !important;
}

.bold-700 {
    font-weight: 700 !important;
}

.bold-600 {
    font-weight: 600 !important;
}

.bold-500 {
    font-weight: 500 !important;
}

.bold-400 {
    font-weight: 400 !important;
}

.bold-300 {
    font-weight: 300 !important;
}

.bold-200 {
    font-weight: 200 !important;
}

.bold-100 {
    font-weight: 100 !important;
}