<section class="pt-70 pb-140 pl-140 pr-140">
    <div class="flex-row">
        <div class="flex-16 flex-column gap-16">
            <div>
                <img src="../../../assets/images/menu-footer-logo.png">
            </div>
            <div class="flex-column gap-8 pt-8">
                <h4 class="poppins-text no-margin white-text">Level 5, Sasana Kijang,</h4>
                <h4 class="poppins-text no-margin white-text">Bank Negara Malaysia,</h4>
                <h4 class="poppins-text no-margin white-text">2, Jalan Dato’ Onn,</h4>
                <h4 class="poppins-text no-margin white-text">50480 Kuala Lumpur,</h4>
                <h4 class="poppins-text no-margin white-text">Malaysia.</h4>
            </div>
            <div class="pt-16">
                social media
            </div>
        </div>
        <div class="flex-16 flex-column gap-8 pl-64" style="border-left: 2px solid rgba(255, 255, 255, 0.2);">
            <h4 class="poppins-text bold-500 no-margin white-text menu-title">About IFSB</h4>
            <ng-container *ngFor="let menu of aboutIfsbMenu">
                <h4 class="poppins-text bold-300 no-margin white-text">{{ menu }}</h4>
            </ng-container>
        </div>
        <div class="flex-16 flex-column gap-8 pl-64">
            <h4 class="poppins-text bold-500 no-margin white-text menu-title">IFSB Membership</h4>
            <ng-container *ngFor="let menu of ifsbMembershipMenu">
                <h4 class="poppins-text bold-300 no-margin white-text">{{ menu }}</h4>
            </ng-container>
        </div>
        <div class="flex-16 flex-column gap-8 pl-64">
            <h4 class="poppins-text bold-500 no-margin white-text menu-title">Implementation</h4>
            <ng-container *ngFor="let menu of implementationMenu">
                <h4 class="poppins-text bold-300 no-margin white-text">{{ menu }}</h4>
            </ng-container>
        </div>
        <div class="flex-16 flex-column gap-8 pl-64">
            <h4 class="poppins-text bold-500 no-margin white-text menu-title">PSIFIs</h4>
            <ng-container *ngFor="let menu of psifisMenu">
                <h4 class="poppins-text bold-300 no-margin white-text">{{ menu }}</h4>
            </ng-container>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-16"></div>
        <div class="flex-16 flex-column gap-8 pl-64" style="border-left: 2px solid rgba(255, 255, 255, 0.2);">
            <h4 class="poppins-text bold-500 no-margin white-text menu-title">Resource Center</h4>
            <ng-container *ngFor="let menu of resourceCenterMenu">
                <h4 class="poppins-text bold-300 no-margin white-text">{{ menu }}</h4>
            </ng-container>
        </div>
        <div class="flex-16 flex-column gap-8 pl-64">
            <h4 class="poppins-text bold-500 no-margin white-text menu-title">Events & Activities</h4>
            <ng-container *ngFor="let menu of eventsAndActivitiesMenu">
                <h4 class="poppins-text bold-300 no-margin white-text">{{ menu }}</h4>
            </ng-container>
        </div>
        <div class="flex-16 flex-column gap-8 pl-64">
            <h4 class="poppins-text bold-500 no-margin white-text menu-title">Media</h4>
            <ng-container *ngFor="let menu of mediaMenu">
                <h4 class="poppins-text bold-300 no-margin white-text">{{ menu }}</h4>
            </ng-container>
        </div>
    </div>
</section>
