:host { 
    section {
        background-image: url(../../../assets/images/footer-menu-background.svg);
        background-size: cover;
        background-position: center;
    }

    .menu-title {
        font-size: 18px;
    }
}