section {
    background-color: #F4F7FF;
}

.section-title {
    color: #202B3B;
}

.email-input {
    background-color: #FFFFFF;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

.subscribe-now {
    background-color: #283887;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}
