<section class="pt-70 pb-70 pl-140 pr-140">
    <div class="flex-row flex-space-between">
        <div class="flex-column flex-40">
            <h1 class="poppins-text bold-900 no-margin section-title pt-16 mat-headline-3 section-title">Newsletter</h1>
            <h4 class="poppins-text no-margin ls-0-77">Subscribe To Our News Letter And Get Our Latest Updates</h4>
        </div>
        <div class="flex-50 flex-row">
            <div class="flex-60 flex-row flex-start-center gap-8 email-input pt-32 pb-32 pl-32">
                <mat-icon style="color: #4E4E50;">email</mat-icon>
                <h4 class="poppins-text no-margin">Your Email</h4>
            </div>
            <div class="flex-40 flex-center subscribe-now">
                <h4 class="poppins-text no-margin white-text">Subscribe Now</h4>
            </div>
        </div>
    </div>
</section>
