<section>
    <app-page-header></app-page-header>
    <app-page-tabs></app-page-tabs>
    <app-page-title-container [pageTitle]="pageTitle"></app-page-title-container>

    <div class="pt-70 pb-70 pl-140 pr-140">
        <mat-card>
            <mat-card-content class="no-padding">
                 <div class="flex-row">
                    <div class="flex-50">
                        <div class="flex-column gap-4 pb-32" style="margin-left: 60px; margin-top: 43px;">
                            <h4 class="poppins-text no-margin ls-0-77 bold-600" style="color: #1C53BC;">ISLAMIC FINANCIAL SERVICES BOARD,</h4>
                            <h4 class="poppins-text no-margin ls-0-77">Level 5, Sasana Kijang,</h4>
                            <h4 class="poppins-text no-margin ls-0-77">Bank Negara Malaysia,</h4>
                            <h4 class="poppins-text no-margin ls-0-77">2, Jalan Dato’ Onn,</h4>
                            <h4 class="poppins-text no-margin ls-0-77">50480 Kuala Lumpur,</h4>
                            <h4 class="poppins-text no-margin ls-0-77">Malaysia.</h4>
                        </div>
                        <div style="margin-left: 48px; margin-bottom: 43px;">
                            <img src="../../../assets/images/google-map.png">
                        </div>
                    </div>
                    <div class="flex-50 form-container">
                        <div class="pb-16" style="margin-top: 56px; margin-left: 49px;">
                            <h1 class="poppins-text no-margin bold-700 form-title">GET IN TOUCH WITH US</h1>
                        </div>
                        <div class="pb-16" style="padding-left: 63px; padding-right: 77px;">
                            <h4 class="poppins-text no-margin ls-0-77">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</h4>
                        </div>
                        <div class="flex-column gap-32" style="padding-left: 63px; padding-right: 50px;">
                            <div class="flex-column gap-8">
                                <h4 class="poppins-text no-margin field-title">Full Name</h4>
                                <input type="text" style="height: 45px;">
                            </div>
                            <div class="flex-column gap-8">
                                <h4 class="poppins-text no-margin field-title">Email</h4>
                                <input type="text" style="height: 45px;">
                            </div>
                            <div class="flex-column gap-8">
                                <h4 class="poppins-text no-margin field-title">Phone</h4>
                                <input type="text" style="height: 45px;">
                            </div>
                            <div class="flex-column gap-8">
                                <h4 class="poppins-text no-margin field-title">Subject</h4>
                                <input type="text" style="height: 45px;">
                            </div>
                        </div>
                        <div class="flex-center" style="padding-top: 38px;">
                            <button mat-fab extended>
                                <h4 class="poppins-text no-margin white-text">Submit Now</h4>
                            </button>
                        </div>
                    </div>
                 </div>
            </mat-card-content>
        </mat-card>
    </div>

    <app-newsletter></app-newsletter>
    <app-footer-menu></app-footer-menu>
    <app-footer></app-footer>
</section>
