:host {
    mat-card { 
        box-shadow: 0px 5px 15px #5A8AE31C;
    }

    button {
        padding: 28.5px 71.5px;
        background-color: #283887 !important;
        border-radius: 40px;
    }

    .form-container {
        background-color: #F4F7FF;
    }

    .form-title {
        font-size: 33px;
        color: #202B3B;
    }

    .field-title {
        color:#202B3B;
    }
}