:host {
    section {
        background-color: #283887;
        height: 48px;
    }

    .social-media {
        margin-left: 140px;
    }

    .tabs {
        margin-right: 140px;
    }

    .header-border {
        background-color: #EBB437;
        height: 4px;
    }
}