<section>
    <div class="flex-row flex-space-between full-height">
        <div class="social-media flex-20 flex-start-center">
            <i class="fab fa-facebook-f"></i>
        </div>
        <div class="tabs poppins-text flex-30 flex-start-center gap-46">
            <p class="no-margin white-text">E-Learning</p>
            <p class="no-margin white-text">FAQ</p>
            <p class="no-margin white-text">Career</p>
            <p class="no-margin white-text">Contact Us</p>
            <p class="no-margin white-text">EN | AR</p>
        </div>
    </div>
</section>
<div class="header-border"></div>
