:host {
    section {
        background-color: #283887;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .header-border {
        background-color: #EBB437;
        height: 4px;
    }

    .contact-us:hover {
        cursor: pointer;
    }
}