<section class="pl-140 pr-140">
    <div class="flex-row flex-space-between full-height">
        <div class="flex-20 flex-start-center">
            <img src="assets/images/page-header-social-media.png">
        </div>
        <div class="flex-30 flex-start-center gap-46">
            <p class="poppins-text no-margin white-text bold-300">E-Learning</p>
            <p class="poppins-text no-margin white-text bold-300">FAQ</p>
            <p class="poppins-text no-margin white-text bold-300">Career</p>
            <p class="poppins-text no-margin white-text bold-300 contact-us" (click)="navigateToContactPage()">Contact Us</p>
            <p class="poppins-text no-margin white-text bold-700">EN <span style="color: #EBB437;">|</span> AR</p>
        </div>
    </div>
</section>
<div class="header-border"></div>
